.text {
  position: relative;
  display: block;
}

.text > .text {
  display: inline;
}

.view {
  display: flex;
  position: relative;
}

.touchable {
  position: relative;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s;
  user-select: none;
  cursor: pointer;
}

.touchable:active {
  opacity: 0.7;
}

.scrollView {
  overflow-y: scroll;
  flex: 1;
}

.scrollViewContent {
  display: flex;
  flex-direction: column;
}
