.btnNormal {
  background-color: #fff;
}
.btnGood {
  background-color: #aaf;
}
.btnExcellent {
  background-color: #ffa;
}
.btnEpic {
  background-color: #fda;
}
.btnLegend {
  background-color: #afd;
}
.btnAcient {
  background-color: #faf;
}
.btnArtifact {
  background-color: #faa;
}
